<!doctype html>
<html>
	<head>
		<title>API Stats</title>
		<script src="/javascript/"></script>
		<meta name="viewport" content="initial-scale=1, user-scalable=no">
		<script type="text/javascript">
			window.onload = function() {
				var user_chart = new CanvasJS.Chart('user_chart', {
					axisY:{ minimum: 0, title: 'User stats' },
					data: [{
						type: 'column',
						dataPoints: {{user_data}}
					}]
				});
				user_chart.render();

				var request_chart = new CanvasJS.Chart('request_chart', {
					axisY:{ minimum: 0, title: 'Request stats' },
					data: [{
						type: 'column',
						dataPoints: {{request_data}}
					}]
				});
				request_chart.render();
			}
		</script>
	</head>
	<body>
		<div id="user_chart" style="height: 300px; width: 100%;"></div>
		<div id="request_chart" style="height: 300px; width: 100%;"></div>
	</body>
</html>
